@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    max-width: 3260px;
    margin: auto;
    background-color: #FAFAFA;
}
@layer base {
    ._container {
        @apply max-w-[1920px] mx-auto px-[3%] md:px-[8%];
    }
    .__playfair {
        font-family: "Playfair Display", sans-serif;
      }
}
.button-hover {
    position: relative;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-size: 2rem; /* Adjust font size as needed */
    font-weight: 600;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    padding: 10px 20px;
}

.button-hover .text {
    transition: transform 0.3s, opacity 0.3s;
}

.button-hover .text-astro {
    transform: translateY(0);
    opacity: 1;
}

.button-hover .text-hovered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    opacity: 0;
}

.button-hover:hover .text-astro {
    transform: translateY(-100%);
    opacity: 0;
}

.button-hover:hover .text-hovered {
    margin-top: 18px;
    transform: translateY(0);
    opacity: 1;
}
