/* Drawer.css */
.drawer {
    position: fixed;
    top: 0;
    right: -400px; /* Width of the drawer */
    width: 360px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s ease;
    z-index: 12; /* Higher than backdrop */
  }
  
  .drawer.open {
    right: 0;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11; /* Lower than drawer */
  }
  
  .drawer_content {
    padding: 20px;
  }
  
  